.post-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .post-list.small-screen {
    flex-direction: column;
  }
  
  .mat-card {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
  }
  
  @media screen and (max-width: 599px) {
    .mat-card {
      width: 100%;
    }
  }